<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="layout :: head('Error')"></head>
<body>
    <div id="head" th:insert="layout :: header"></div>
    <section th:insert="layout :: subHeader"></section>

    <section id="main"  th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
        <div class="container error-page">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 text-center" style="margin-top: 50px">
                    <!--<h2><i class="ti-face-sad"></i></h2> ${httpStatus.reasonPhrase}  -->
                    <h1><small th:text="${error}" class="text-center">Oops! Page not found.</small></h1>
                </div>
                <div th:insert="layout :: sidebar"></div>
            </div>

            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    </section>

    <div id="footer" th:insert="layout :: footer"></div>

    <!--  Jquery Core Script -->
    <script th:src="@{/assets/js/jquery-1.10.2.js}"></script>
    <!--  Core Bootstrap Script -->
    <script th:src="@{/assets/js/bootstrap.js}"></script>
</body>
</html>