<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->
<head th:insert="layout :: head('Home')">

</head>
<body>
    <div id="head" th:insert="layout :: header"></div>
    <section id="main">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-3 col-md-3 col-sm-3 ">

                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 ">
                    <section id="login-container" class="content-form rounded-6 main" style="min-height: 520px;">
                        <!--<div class="login-form">-->
                            <div id="login-form">
                                <h2 class="heading">Login to the support portal</h2>
                                <div id="invalid" th:if="${param.error}" th:text="${'Invalid Login Credentials'}" th:class="${'alert alert-danger text-danger'}"></div>
                                <!--<p>Enter the details below</p>-->
                                <form accept-charset="UTF-8" th:action="@{/login}" class="new_user_session"  method="post">
                                    <div class="alert alert-with-close notice" id="noticeajax" style="display:none;">

                                    </div>

                                    <fieldset>
                                        <div class="control-group">
                                            <div class="controls form-group">
                                                <input class="required special form-control" name="username" autofocus="true" placeholder="Your e-mail address" size="30" type="email" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <div class="controls form-group">
                                                <input class="special form-control" name="password" placeholder="Password" size="30" type="password" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <div class="controls">
                                                <button type="submit" class="btn btn-warning btn-login"> Login </button>
                                            </div>
                                            <a href="" data-toggle-dom="#forgot-form, #login-form" id="forgot_password">Forgot your password?</a>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div id="forgot-form" class="hide">
                                <h2 class="heading">Forgot Password</h2>
                                <p>Give us your email address and instructions to reset your password will be emailed to you.</p>
                                <form accept-charset="UTF-8" action="/password_resets" method="post" rel="validate" novalidate="novalidate">
                                    <fieldset>
                                        <div class="control-group">
                                            <div class="controls">
                                                <input class="required special" id="email" name="email" placeholder="Your e-mail address" type="text" value="" aria-required="true">
                                            </div>
                                        </div>
                                        <br>
                                    </fieldset>
                                    <div class="control-group">
                                        <button type="button" data-toggle-dom="#login-form, #forgot-form" class="btn"> Cancel </button>
                                        <button type="submit" class="btn btn-primary pull-right"> Reset my password </button>
                                    </div>
                                </form>
                            </div>



                        <!--</div>-->

                    </section>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">


                </div>
            </div>

        </div>

    </section>

    <div id="footer" th:insert="layout :: footer"></div>
    <!--  Jquery Core Script -->
    <script src="assets/js/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="assets/js/bootstrap.js"></script>

</body>
</html>
